body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #003c8f;
    margin: 0;
    padding: 0;
}

.bar {
    background-color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

section, aside {
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 1;
    max-width: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.lower-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lower-section > section {
    flex: 1;
    margin: 10px;
}

aside div {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #0277bd;
}

h3 {
    text-align: left;
    color: #0277bd;
}

.profile-pic {
    width: 100px; 
    height: auto;
    display: block;
    margin: 0 auto 10px; 
}

.links {
    display: inline-block;
    margin-right: 10px;
}

#about-me {
    flex: 1;
    max-width: 300px;
    margin-top: 30px;
    padding: 30px;
}

#work-experience div {
    background-color: #f0f0f0;
    margin-bottom: 15px; 
    padding: 15px;
    border-radius: 10px;
}

#work-experience .date, #work-experience .place, #work-experience .keywords-label {
    color: #0056b3;
}

#work-experience .title {
    color: #d32f2f;
    font-weight: bold;
    font-size: 1.1em;
}

#work-experience {
    max-width: calc(50% - 20px);
    border: 2px solid #0056b3;
    padding: 20px;
}

#education-background div {
    background-color: #f0f0f0;
    margin-bottom: 15px; 
    padding: 15px;
    border-radius: 10px;
}

#education-background .date, #education-background .keywords-label {
    color: #0056b3;
}

#education-background .title {
    color: #d32f2f;
    font-weight: bold;
    font-size: 1.1em;
}

#education-background {
    max-width: calc(50% - 20px);
    border: 2px solid #0056b3;
    padding: 20px;
}

a {
    color: #0077b6;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
