body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #0056b3;
    margin: 0;
    padding: 0;
}

.bar {
    background-color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

section {
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.summaries, #about-me {
    border: 2px solid #0056b3;
    max-width: 300px;
    padding: 20px;
}

.profile-pic {
    width: 200px; 
    height: auto;
    display: block;
    margin: 10px; 
}

#about-me {
    flex: 1;
}

.links {
    display: inline-block;
}

a {
    margin-right: 10px;
}

a:hover {
    color: #0056b3;
}

.keywords-label {
    font-weight: 500;
}

#certificates {
    max-width: 450px;
    border: 2px solid #0056b3;
    padding: 20px;
}

#certificates div {
    background-color: #e0f7fa;
    padding: 15px;
    border-radius: 10px;
}

#certificates .title {
    font-weight: bold;
    font-size: 1.1em;
}

.summaries {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.summaries div {
    margin-bottom: 20px;
}

.lower-section {
    display: flex;
    width: 100%;
}

.lower-section > section {
    flex: 1;
    margin: 10px;
}

.list-box {
    max-width: calc(50% - 20px);
    border: 2px solid #0056b3;
    padding: 20px;
}

.list-box div {
    background-color: #e0f7fa;
    padding: 15px;
}

.list-box .title {
    font-weight: bold;
    font-size: 1.1em;
}